img{
    margin: 50px;
    overflow: hidden;
    &:hover{
        opacity: 0.6;
        scale: 1.15;
    }
}

button{
    opacity: 0.8;
    &:hover{
        scale: 1.1;
        opacity: 0.4;
    }
}

.margetop{
    margin-top: 50px;
}
.margebottom{
    margin-bottom: 250px;
}
.textp{
    font-size: larger;
}
